body {
    background-color: #b0d0e6;
    width: 100%;
    height: 1500px;
    color: #4b4b4b;
}

header {
    width: 100%;
    height: 4rem;
    padding-top: 20px;
    margin-bottom: 3rem;
    border-bottom: solid 1.5px #595959;
}

.logo {
    text-align: center;
}

.MyIntroduce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 5rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem 1rem;
}

.MyIntroduce img {
    width: 12rem;
    height: 12rem;
    border-radius: 100px;
}

.MyIntroduce-comment {
    margin-left: 4rem;
    /* color: rgb(250, 235, 215); */
    color: #595959;
    /* background-color: #5c332f; */
}

.MyIntroduce-comment h3 {
    margin: 0;
}

.MyIntroduce-comment p {
    line-height: 1.8rem;
}

.card {
    margin: 0 10rem 0 10rem;
    padding: 1.2rem;
    margin-bottom: 3rem;
    border-radius: 15px;
    box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
        0 5px 6.1px rgba(0, 0, 0, 0.076);
    background-color: rgba(250, 235, 215, 0.616);
    display: flex;
    height: 35vh;
}

.card img {
    margin-right: 3rem;
    width: 100%;
}

.image {
    width: 45%;
}

.explanation {
    width: 50%;
    padding: 0rem 2rem;
}

.explanation h2 {
    margin-top: 0;
}

.comment {
    background-color: #fff;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 10px;
    line-height: 1.8rem;
    margin-top: 2.4rem;
}

.link-custom {
    color: #595959;
    text-decoration: none;
}

.link-custom:hover {
    color: #59595972;
    text-decoration: none;
}