body {
  max-width: 1140px;
  color: #595959;
  margin: 0 auto;
  padding-bottom: 10rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 4% 0 4%;
  margin: 0;
}

.header-nav {
  color: #595959;
  text-decoration: none;
}

.header-nav:hover {
  color: #59595972;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.container {
  padding: 0 4%;
}

.sub-title {
  position: relative;
  text-align: center;
  margin: 4rem 0 1rem 0;
}
.sub-title::after {
  content: '';
  background: url(../img/line.svg);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 5px;
  background-repeat: no-repeat;
}

.sub-title h2 {
  display: inline-block;
  font-size: 1.8rem;
}

.cat-cards {
  display: flex;
  width: 100%;
  height: 100%;
}

.mv {
  background-color: #595959;
}
.main-visual {
  width: 100vw;
  height: auto;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.main-visual img {
  display: block;
  width: 100%;
  height: auto;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35rem;
  margin: 0 auto;
}

.about img {
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
}

.comment {
  margin-left: 3rem;
}

.comment p {
  line-height: 1.8;
}

.cats img {
  width: 15rem;
  height: 10rem;
}

.cats {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.cat-card {
  padding: 0 0.5rem;
  text-align: center;
}

.cat-card a {
  text-decoration: none;
  color: #595959;
}

.cat-card h2 {
  margin: 0;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.cat-card p {
  margin: 0;
  padding: 0.2rem 0;
  top: 0;
  line-height: 1.5;
}

.more {
  color: #5959598e;
}

.mv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.mv-tsl-block img {
  width: 90px;
  height: 90px;
  padding: 0 20px 0 0;
}
.mv-tsl-block h2 {
  font-family: Times New Roman;
  font-size: 72px;
  font-weight: 400;
  line-height: 82.79px;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 0;
  color: #fff;
}
.mv-tsl-block span {
  font-family: STIX Two Text;
  font-size: 90px;
  font-style: italic;
  font-weight: 400;
  line-height: 112.5px;
  text-align: left;
  padding: 0 11px 0 0;
  margin: 0;
  color: #fff;
}

.mv-tsl-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mv-line {
  width: 100%;
  height: 146px;
  margin: 0 0 15px;
}
.mv-line span {
  display: block;
  width: 1px;
  height: 0px;
  background-color: #fff;
  margin: 0 auto;
}
.mv-line span.active {
  height: 146px;
  animation: line_anim 1.5s ease;
}
@keyframes line_anim {
  0% {
    height: 0px;
  }
  30% {
    height: 0px;
  }

  100% {
    height: 146px;
  }
}

.mv-inov-block h2 {
  font-family: Times New Roman;
  font-size: 60px;
  font-weight: 400;
  line-height: 68.99px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
  color: #fff;
}

.mv-inov-block p {
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.17px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  color: #fff;
}
