body {
    width: 960px;
    height: 1500px;
    color: #595959;
    margin: 0 auto;
    padding-bottom: 10rem;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 4% 0 4%;
    margin: 0;
}

.link-custom {
    color: #595959;
    text-decoration: none;
}

.link-custom:hover {
    color: #59595972;
    text-decoration: underline;
}

header ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding-bottom: 2.5rem;
    font-size: 20px;
    font-weight: 500;
}

header li {
    margin-right: 4rem;
}

.container {
    padding: 0 4% 0 4%;
}

.sub-title {
    text-align: center;
    padding: 4rem 0 1rem 0;
}

h2 {
    display: inline-block;
    border-bottom: solid 1px gray;
    font-size: 1.8rem;
}


.container2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-visual {
    width: 100vw;
    height: auto;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}

.main-visual img {
    display: block;
    width: 100%;
    height: auto;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    margin: 0 auto;
}

.about img {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
}

.comment {
    margin-left: 3rem;
}

.comment p {
    line-height: 1.8;
}

.cats img {
    width: 15rem;
    height: 10rem;
}

.cats {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: flex-start
}

.cats .item {
    padding: 0 0.5rem;
    text-align: center;
}

.item h3 {
    margin: 0;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.item p {
    margin: 0;
    padding: 0.2rem 0;
    top: 0;
    line-height: 1.5;
}

.more {
    color: #5959598e;
}