main {
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th {
    padding-right: 0.5rem;
    text-align: right;
}

td {
    border: solid 1px;
    height: 7.5rem;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}